<div class="tab_wrap">
  <input id="tab1" type="radio" name="tab_btn" checked>
  <input id="tab2" type="radio" name="tab_btn">
  <input id="tab3" type="radio" name="tab_btn">
  <input id="tab4" type="radio" name="tab_btn">

  <div class="tab_area">
    <div class ="fix">
    <label class="tab1_label" for="tab1">IVENT</label>
    <label class="tab2_label" for="tab2">BLOGS</label>
    <label class="tab3_label" for="tab3">CONTACT</label>
    <label class="tab4_label" for="tab4">VIDEO</label>
  </div>
  </div>
  <div class="panel_area">
    <div id="panel1" class="tab_panel">
      <% @ivents.each do |ivent| %>
      <div class = "toukou">
        <div class = "profile">
          <img src="/images.jpg">
          <p><%= link_to(ivent.content, "/ivents/#{ivent.id}") %></p>
        </div>
        <div class = "img">
          <img src="/ivent_images/<%= "#{ivent.id}"%>.jpg">
        </div>

        <div class = "syousai">
          <h4>【どんなイベント？】</h4>
          <h5><%= ivent.summry%></h5>


        </div>

          </div>
          <%end%>

      </div>

      <div id="panel2" class="tab_panel">
      <div class = "toukou">
        <div class = "profile">
          <img src="/images.jpg">
          <p>松本さんがブログを更新しました。</p>
        </div>
        <div class = "img">
          <img src="/397.jpg">
        </div>
        <div class = "syousai">
        </div>
        </div>
          <div class = "toukou">
            <div class = "profile">
              <img src="/images.jpg">
              <p>松本さんがブログを更新しました。</p>
            </div>
            <div class = "img">
              <img src="/397.jpg">
            </div>
            <div class = "syousai">
              <p>営業あいうえ言おうああ</p>
            </div>
              </div>

        </div>
        <div id="panel3" class="tab_panel">
          <div class = "text_field">
          <%= form_for @newTopic, :url => {:action => 'create'} do |f| %>
            <%= f.text_field :title, :size=>"40x20" %>
            <%= f.submit %>
          <% end %>
        </div>
        <div class = "toukou_zenntai">
          <% @topics.each do |topic| %>
          <div class = "toukou">
          <div class = "profile">
            <img src="/images.jpg">
            <p>松本さんが<br>Topicを作成しました。</p>
          </div>
          <div class = "syousai">
            <h2>
              <%= link_to topic.title, topics_show_path(topic.id),:style=>"color:gray;""text-decoration: none;"%>
              <p><%= link_to '削除', topic_delete_path(topic.id), method: :delete, data: {confirm: "削除してもよろしいですか？"},:style=>"color:gray;""text-decoration: none;""float:right;" %></p>
            </h2>
          </div>
          </div>
          <% end %>
        </div>
      </div>
        <div id="panel4" class="tab_panel">
          <% @videos.each do |video| %>
          <div class = "toukou">
            <div class = "profile">
              <img src="/images.jpg">
              <p><%= link_to(video.content, "/videos/#{video.id}") %></p>
            </div>
            <div class = "img">
              <img src="/video_jpg/<%= "#{video.id}"%>.jpg">
            </div>

            <div class = "syousai">
              <h4>【どんな講座？】</h4>
              <h5><%= video.summry%></h5>


            </div>

              </div>
              <%end%>
          </div>

    </div>
  </div>
