<!DOCTYPE html>
<html>
  <head>
    <title>Collega</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
      <div class = "header">
        <div id="nav-drawer">
          <input id="nav-input" type="checkbox" class="nav-unshown">
          <label id="nav-open" for="nav-input"><span></span></label>
          <label class="nav-unshown" id="nav-close" for="nav-input"></label>
          <div id="nav-content">
            <h4>Menu</h4>
            <li><a href="/">HOME</a></li>
            <li><%= link_to("Teachers'profile", "/") %></li>
            <li><%= link_to("Login", "/users/login") %></li>
            <li><%= link_to("New Collega", "/users/new") %></li>
            <li><%= link_to("Post", "/toukous/new") %></li>
            <li><%= link_to("Paid member", "/menbers/login") %></li>

            <h4>講師陣専用メニュー</h4>
            <li><%= link_to("VIDEO投稿", "/videos/new") %></li>
            <li><%= link_to("BLOG投稿", "/blogs/new") %></li>
            <li><%= link_to("IVENT投稿", "/ivents/new") %></li>

            <h4>権限者専用メニュー</h4>
            <li><%= link_to("無料会員一覧", "/users/index") %></li>
            <li><%= link_to("有料会員一覧", "/menbers/index") %></li>

            <li><%= link_to("権限者一覧", "/managers/index") %></li>
            <li><%= link_to("講師一覧（権限者用）", "/teachers/index") %></li>
            <li><%= link_to("有料会員登録", "/menbers/new") %></li>
            <li><%= link_to("講師登録", "/teachers/new") %></li>
            <li><%= link_to("権限者登録", "/managers/new") %></li>



          </div>
          </div>
          <img src ="/collega.png"></img>


        </div>
    <%= yield %>
  </body>
</html>
